Repository DTU-SE-Group-D/LiRA-Viz, pull requests merged in 2023-11, with the labels that each got.

#82 Rework conditionsmap
  frontend/src/App.tsx
  frontend/src/Components/Conditions/ConditionsMap.tsx
  frontend/src/Components/Conditions/constants.ts
  frontend/src/Components/Map/ForceMapUpdate.tsx
  frontend/src/Components/Map/Inputs/MonthFilter.tsx
  frontend/src/Components/Map/Inputs/Selector.tsx
  frontend/src/Components/RoadDetails/TopBar.tsx
  frontend/src/models/conditions.ts
  frontend/src/pages/Conditions.tsx
  frontend/src/pages/Inspect.tsx
  frontend/src/pages/Main.tsx
  frontend/src/queries/conditions.ts
  frontend/src/queries/fetchConditions.ts
Labels: feature, frontend, Main map

#99 Add new DB, interfaces and types
  backend/src/app.module.ts
  backend/src/conditions/rc.service.ts
  backend/src/database.ts
  backend/src/models.ts
  backend/src/tables.ts
Labels: feature, backend

#101 WIP: MultiSelect
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Conditions/ConditionsMap.tsx
  frontend/src/Components/Map/Inputs/MonthFilter.tsx
  frontend/src/Components/Map/Inputs/MultiSelector.tsx
  frontend/src/Components/Map/Inputs/Search.tsx
  frontend/src/css/multiselector.css
  frontend/src/models/conditions.ts
  frontend/src/pages/Main.tsx
Labels: frontend, Main map, Inspect map

#105 69 v2 map road same view
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Map/Hooks/useZoom.tsx
  frontend/src/Components/RoadDetails/ConditionsGraph.tsx
  frontend/src/Components/RoadDetails/TopBar.tsx
  frontend/src/css/road_details.css
  frontend/src/css/split.css
  frontend/src/pages/Inspect.tsx
Labels: feature, frontend, Inspect map

#110 serve static
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
Labels: backend

#111 90 plot survey
  backend/src/app.module.ts
  backend/src/models.ts
  backend/src/surveys/survey.controller.ts
  backend/src/surveys/survey.service.ts
  backend/src/tables.ts
  frontend/src/App.tsx
  frontend/src/Components/Map/Roads.tsx
  frontend/src/Components/RoadDetails/ConditionsGraph.tsx
  frontend/src/models/conditions.ts
  frontend/src/models/map.ts
  frontend/src/models/path.ts
  frontend/src/pages/Inspect.tsx
  frontend/src/queries/conditions.ts
Labels: feature, backend, Inspect map

#107 Add road selection
  frontend/src/Components/Conditions/ConditionsMap.tsx
  frontend/src/Components/Map/DetectMapClick.tsx
  frontend/src/Components/Map/ForceMapUpdate.tsx
  frontend/src/Components/Map/Road.tsx
  frontend/src/Components/Map/Roads.tsx
  frontend/src/css/navbar.css
  frontend/src/pages/Main.tsx
Labels: feature, frontend, Main map

#113 Show road surface
  backend/src/app.module.ts
  backend/src/images/image.controller.ts
  backend/src/images/image.service.ts
  frontend/src/Components/Map/Inputs/Selector.tsx
  frontend/src/Components/RoadDetails/RoadImage.tsx
  frontend/src/Components/RoadDetails/RotatedImage.tsx
  frontend/src/Components/RoadDetails/TopBar.tsx
  frontend/src/css/navbar.css
  frontend/src/css/road_details.css
  frontend/src/css/road_image.css
  frontend/src/css/selector.css
  frontend/src/css/split.css
  frontend/src/models/path.ts
  frontend/src/pages/Inspect.tsx
  frontend/src/pages/Main.tsx
  frontend/src/queries/fetch.ts
  frontend/src/queries/images.ts
Labels: feature, frontend, backend, Inspect map

#114 Info Button Changes
  frontend/src/Components/Conditions/InfoButton.tsx
  frontend/src/Components/Map/MapWrapper.tsx
  frontend/src/css/InfoButton.css
Labels: feature, frontend, Main map

#128 Severity Filter (rebased)
  frontend/src/Components/Conditions/ConditionsMap.tsx
  frontend/src/models/conditions.ts
  frontend/src/pages/Main.tsx
Labels: bug, feature, frontend, Main map

#133 Date Filter Bugs
  frontend/src/Components/Conditions/ConditionsMap.tsx
  frontend/src/Components/Map/Inputs/MonthFilter.tsx
  frontend/src/css/month_filter.css
  frontend/src/css/navbar.css
  frontend/src/models/conditions.ts
  frontend/src/pages/Main.tsx
Labels: bug, frontend, Main map

#138 Multiselect in Road Details
  frontend/src/Components/RoadDetails/TopBar.tsx
  frontend/src/css/multiselector.css
  frontend/src/css/selector.css
  frontend/src/models/conditions.ts
  frontend/src/pages/Inspect.tsx
Labels: frontend, Inspect map

#131 39 add square to plot
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/RoadDetails/ConditionsGraph.tsx
  frontend/src/Components/RoadDetails/RoadImage.tsx
  frontend/src/Components/RoadDetails/TopBar.tsx
  frontend/src/css/inspect_page.css
  frontend/src/css/road_details.css
  frontend/src/models/conditions.ts
  frontend/src/models/models.ts
  frontend/src/pages/Inspect.tsx
Labels: feature, frontend, Inspect map

#139 137 selectable filters
  frontend/src/Components/Map/Inputs/Selector.tsx
  frontend/src/Components/Map/Road.tsx
  frontend/src/Components/RoadDetails/ConditionsGraph.tsx
  frontend/src/Components/RoadDetails/RoadImage.tsx
  frontend/src/Components/RoadDetails/TopBar.tsx
  frontend/src/pages/Inspect.tsx
Labels: feature, frontend, Inspect map

#141 Inspect: Show user position on the path
  frontend/src/pages/Inspect.tsx
Labels: feature, frontend, Inspect map

#149 Sidebar/burger button.
  backend/src/models.ts
  backend/src/surveys/survey.controller.ts
  backend/src/surveys/survey.service.ts
  frontend/src/Components/Map/Inputs/Hamburger.tsx
  frontend/src/css/Sidebar.css
  frontend/src/css/navbar.css
  frontend/src/pages/Main.tsx
  frontend/src/queries/conditions.ts
Labels: feature, frontend, backend

#154 144 selectable graph filters fix
  frontend/src/Components/Conditions/ConditionsMap.tsx
  frontend/src/Components/Map/Inputs/MonthFilter.tsx
  frontend/src/Components/Map/Inputs/MultiSelector.tsx
  frontend/src/Components/RoadDetails/ConditionsGraph.tsx
  frontend/src/Components/RoadDetails/RoadImage.tsx
  frontend/src/Components/RoadDetails/TopBar.tsx
  frontend/src/css/multiselector.css
  frontend/src/css/navbar.css
  frontend/src/css/road_image.css
  frontend/src/css/selector.css
  frontend/src/pages/Inspect.tsx
Labels: bug, feature, frontend, Main map, Inspect map
