Repository DTU-SE-Group-D/LiRA-Viz, pull requests merged in 2023-12, with the labels that each got.

#155 #146 Info button update and switch images by keyboard
  frontend/src/Components/Conditions/InfoButton.tsx
  frontend/src/Components/Map/Inputs/MonthFilter.tsx
  frontend/src/Components/Map/MapWrapper.tsx
  frontend/src/Components/RoadDetails/ImageAbleZoom.tsx
  frontend/src/css/InfoButton.css
  frontend/src/pages/Main.tsx
Labels: feature, frontend, Main map, Inspect map

#161 15x fix imporovement fe
  frontend/src/Components/Conditions/InfoButton.tsx
  frontend/src/Components/RoadDetails/ConditionsGraph.tsx
  frontend/src/css/InfoButton.css
  frontend/src/pages/Inspect.tsx
Labels: frontend, Main map, Inspect map

#162 Upload: Add button and panel to upload survey
  frontend/package-lock.json
  frontend/package.json
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/upload.svg
  frontend/src/Components/Conditions/UploadPanel.tsx
  frontend/src/Components/Inputs/SingleFileInput.tsx
  frontend/src/css/navbar.css
  frontend/src/css/single_file_input.css
  frontend/src/css/upload_panel.css
  frontend/src/pages/Main.tsx
  frontend/src/queries/fetch.ts
  frontend/src/queries/upload.ts
Labels: frontend

#166 Refactor LiraDB dependencies
  backend/src/app.controller.spec.ts
  backend/src/app.module.ts
  backend/src/conditions/rc.controller.spec.ts
  backend/src/conditions/rc.controller.ts
  backend/src/conditions/rc.service.ts
  backend/src/database.ts
  backend/src/models.ts
  backend/src/tables.ts
  frontend/src/Components/Conditions/ConditionsMap.tsx
Labels: frontend, backend, Main map

#170 Fix DI not showing
  backend/src/conditions/rc.service.ts
Labels: bug, frontend

#167 added road name to inspect page extracted from road or survey
  frontend/src/Components/Map/InfoCard.tsx
  frontend/src/Components/Map/Inputs/Hamburger.tsx
  frontend/src/Components/RoadDetails/ImageGallery.tsx
  frontend/src/Components/RoadDetails/TopBar.tsx
  frontend/src/pages/Main.tsx
Labels: feature, frontend, Inspect map

#171 Progress Circle
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/ProgressCircle.tsx
  frontend/src/pages/Inspect.tsx
  frontend/src/pages/Main.tsx
Labels: frontend, userstory

#176 Fix oversight of LiRA's IRI
  backend/src/conditions/rc.service.ts
  backend/src/models.ts
Labels: bug, backend

#175 Lira importing scripts
  backend/src/lira_importing/lira_importing_functions.js
  backend/src/lira_importing/lira_query_functions.js
  backend/src/lira_importing/package-lock.json
  backend/src/lira_importing/package.json
  backend/src/lira_importing/readme.md
Labels: backend

#177 Fix minor issue
  backend/src/models.ts
  backend/src/surveys/survey.controller.ts
  backend/src/surveys/survey.service.ts
  frontend/src/Components/Map/InfoCard.tsx
  frontend/src/Components/Map/Inputs/Hamburger.tsx
  frontend/src/Components/RoadDetails/TopBar.tsx
  frontend/src/css/roadinfo_card.css
  frontend/src/models/models.ts
  frontend/src/pages/Main.tsx
  frontend/src/queries/conditions.ts
Labels: feature, frontend, backend, Main map, userstory

#181 return the status
  backend/src/upload/file.processor.ts
  backend/src/upload/upload.controller.ts
Labels: feature, backend

#183 Show upload status on the frontend
  backend/src/upload/file.processor.ts
  backend/src/upload/upload.controller.ts
  frontend/src/Components/Conditions/UploadPanel.tsx
  frontend/src/css/single_file_input.css
  frontend/src/css/upload_panel.css
  frontend/src/models/models.ts
  frontend/src/queries/upload.ts
Labels: feature, frontend, Main map
