Repository DTU-SE-Group-D/LiRA-Viz, pull requests merged in 2023-10, with the labels that each got.

#45 Documentation: Use react-docgen-typescript to add props
  frontend/package-lock.json
  frontend/package.json
  frontend/styleguide.config.js
Labels: documentation, feature

#44 Road detailds structure
  .gitignore
  frontend/src/App.tsx
  frontend/src/Components/Navbar.test.tsx
  frontend/src/Components/Navbar.tsx
  frontend/src/Components/RoadDetails/ImageGallery.tsx
  frontend/src/Components/RoadDetails/MapArea.tsx
  frontend/src/Components/RoadDetails/RoadImage.tsx
  frontend/src/Components/RoadDetails/TopBar.tsx
  frontend/src/css/road_details.css
  frontend/src/pages/RoadDetails.tsx
Labels: feature, frontend, Inspect map

#67 Chart.js: Fix import for production
  frontend/src/Components/RoadDetails/ConditionsGraph.tsx
  frontend/src/pages/RoadDetails.tsx
Labels: bug, frontend

#83 Styleguide: deactivate cache and use tsconfig.json
  frontend/styleguide.config.js
Labels: bug, documentation

#84 Fix dependabot alerts
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: bug, frontend, backend

#85 Release 2 plot and zoom
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/RoadDetails/ConditionsGraph.tsx
  frontend/src/css/road_details.css
  frontend/src/pages/RoadDetails.tsx
Labels: feature, frontend, Inspect map
