Repository DTU-SE-Group-D/LiRA-Viz, pull requests merged in 2023-09, with the labels that each got.

#10 Importing "Conditions (ML)" page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Components/Conditions/ConditionsMap.tsx
  frontend/src/Components/Conditions/constants.ts
  frontend/src/Components/Map/Hooks/useMapBounds.tsx
  frontend/src/Components/Map/Hooks/useZoom.tsx
  frontend/src/Components/Map/MapWrapper.tsx
  frontend/src/Components/Map/Renderers/DistHotline.tsx
  frontend/src/Components/Map/Zoom.tsx
  frontend/src/Components/Map/constants.ts
  frontend/src/Components/Palette/PaletteEditor.tsx
  frontend/src/Components/RoadConditions/ConditionsGraph.tsx
  frontend/src/Components/RoadConditions/ConditionsMap.tsx
  frontend/src/Components/RoadConditions/Ways.tsx
  frontend/src/assets/graph/types.ts
  frontend/src/assets/hotline/DistRenderer.ts
  frontend/src/assets/hotline/Edge.ts
  frontend/src/assets/hotline/HoverHotPolyline.ts
  frontend/src/assets/hotline/hotline.d.ts
  frontend/src/context/GraphContext.tsx
  frontend/src/context/GraphHoverContext.tsx
  frontend/src/css/slider.css
  frontend/src/hooks/useMinMax.tsx
  frontend/src/hooks/useMinMaxAxis.tsx
  frontend/src/hooks/useSize.tsx
  frontend/src/models/graph.ts
  frontend/src/models/map.ts
  frontend/src/models/models.ts
  frontend/src/models/path.ts
  frontend/src/models/properties.ts
  frontend/src/models/renderers.ts
  frontend/src/pages/Conditions.tsx
  frontend/src/pages/RoadConditions.tsx
  frontend/src/queries/conditions.ts
  frontend/src/queries/fetch.tsx
  frontend/src/queries/fetchConditions.ts
Labels: documentation, enhancement, frontend

#16 Update App
  backend/package.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/Components/Navbar.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/queries/fetch.tsx
Labels: bug, frontend

#25 Fix Jest frontend issue
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/Components/Map/MapWrapper.test.tsx
  frontend/src/Components/Navbar.test.tsx
  frontend/src/mocks/reactLeafletMock.tsx
Labels: bug, frontend

#33 Fix documentation and build
  .github/workflows/documentation.yml
  .github/workflows/main.yml
  frontend/styleguide.config.js
Labels: bug, documentation
